<nav>
  <ul class="list-container">
    <a routerLink="">
      <li class="button-list">
        <img
          src="/assets/image/Angular_full_color_logo.svg.png"
          alt="Angular Picture"
          class="round-icon"
        />Angular
      </li></a
    >

    <a routerLink=""
      ><li class="button-list">
        <img
          src="/assets/image/React.webp"
          alt="React Picture"
          class="round-icon"
        />
        React
      </li></a
    >

    <a routerLink=""
      ><li class="button-list">
        <img
          src="/assets/image/Typescript_logo_2020.svg.png"
          alt="Typescript Picture"
          class="round-icon"
        />
         Typescript
      </li></a
    >

    <a routerLink=""
      ><li class="button-list">
        <img
          src="/assets/image/javascript-logo-transparent-logo-javascript-images-3.png"
          alt="Javascript Picture"
          class="round-icon js-icon"
        />
         Javascript
      </li></a
    >

    <a routerLink=""
      ><li class="button-list">
        <img
          src="/assets/image/html5-logo-css-logo-png-transparent-svg-vector-bie-supply-9.png"
          alt="CSS Picture"
          class="round-icon"
        />
         CSS
      </li></a
    >

    <a routerLink=""
      ><li class="button-list">
        <img
          src="/assets/image/5847f5bdcef1014c0b5e489c.png"
          alt="Javascript Picture"
          class="round-icon"
        />
         HTML
      </li></a
    >

    <a routerLink=""
      ><li class="button-list">
        <img
          src="/assets/image/58481791cef1014c0b5e4994.png"
          alt="PHP Picture"
          class="round-icon php-icon"
        />
         PHP
      </li></a
    >

    <a routerLink=""
    ><li class="button-list">
      <img
        src="/assets/image/5848152fcef1014c0b5e4967.png"
        alt="Python Picture"
        class="round-icon"
      />
       Python
    </li></a
  >

  <a routerLink=""
    ><li class="button-list">
      <img
        src="/assets/image/Sql_data_base_with_logo.png"
        alt="MySql Picture"
        class="round-icon js-icon"
      />
       MySql
    </li></a
  >

  <a routerLink=""
    ><li class="button-list">
      <img
        src="/assets/image/25231.png"
        alt="Github Picture"
        class="round-icon"
      />
       Github
    </li></a
  >
  </ul>
</nav>
