.header-main__container {
  position: sticky;
  top: 0%;
  width: -webkit-fill-available;
  background-color: #e2d2d2;
  z-index: 999;
}

.navbar,
.navbar-expand-lg {
  padding: 0px 0px !important;
}

.dragon-store-logo {
  width: 50px;
  height: 50px;
}

a {
  cursor: pointer;
}

.navbar-toggler {
  transform: rotate(90deg);
  border: none !important;

  .top-bar {
    padding: 2px 2px;
    background-color: rgb(0, 0, 0);
    border-bottom: 2px solid #fff;
  }
  .middle-bar {
    padding: 2px 2px;
    background-color: rgb(0, 0, 0);
    border-bottom: 2px solid #fff;
  }
  .bottom-bar {
    padding: 2px 2px;
    background-color: rgb(0, 0, 0);
    border-bottom: 2px solid #fff;
  }
}

.user-pic {
  width: 40px;
  height: 40px;
}

.d-flex {
  display: flex;
}

.dropdown-menu-end {
  top: 5px;
}

a.active {
  font-weight: bold;
}
