<app-header></app-header>
<div class="main-container">
  <app-side-bar></app-side-bar>
  <div class="home-main__container">
    <section class="py-6">
      <div class="container">
        <div class="row">
          <div class="col-xxl-4 col-xl-6 col-lg-12">
            <div class="card mb-4 mb-xl-0 card-hover border">
              <a >
                <img
                  src="../assets/image/live-session.png"
                  alt="webinar-1"
                  class="img-fluid w-100 rounded-top-3"
                />
              </a>
              <div class="card-body">
                <h3 class="mb-4 text-truncate">
                  <a class="text-inherit"
                    >Education Edition Deployment</a
                  >
                </h3>
                <div class="mb-4">
                  <div class="mb-3 lh-1">
                    <span class="me-1">
                      <i class="bi bi-calendar-check"></i>
                    </span>
                    <span>Thu, November 10, 2023</span>
                  </div>
                  <div class="lh-1">
                    <span class="me-1">
                      <i class="bi bi-clock"></i>
                    </span>
                    <span>6:00 PM – 8:00 PM GMT</span>
                  </div>
                </div>
                <a class="btn btn-light-primary text-primary"
                  >Register Now</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
<app-footer></app-footer>
