.main-container {
  display: grid;
  grid-template-columns: 200px auto;
}

.home-main__container {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

app-side-bar {
  background-color: rgb(75, 69, 63);
}


.text-inherit {
  font-size: 1rem;
}

.col-xxl-4 {
  width: 300px;
}

a {
  cursor: pointer;
}

@media (max-width: 420px) {
  .main-container {
    display: grid;
    grid-template-columns: auto auto;
  }
}
