<app-header></app-header>
<div class="main-container">
  <app-side-bar></app-side-bar>
  <div class="home-main__container">
    <div class="py-8">
      <div class="container">
        <div class="row row-cols-1 row-cols-md-3 g-4">
          <div class="col">
            <!-- Card -->
            <div class="card card-hover">
              <a href="" class="card-img-top" target="_blank"
                ><img
                  src="./assets/image/javascript.png"
                  alt=""
                  class="rounded-top-md card-img-top"
              /></a>
              <!-- Card Body -->
              <div class="card-body">
                <h4 class="mb-2 text-truncate-line-2">
                  <a href="" class="text-inherit"
                    >How to easily create a website with JavaScript
                  </a>
                </h4>

                <small>By: Claire Evans</small>
                <div class="lh-1 mt-3">
                  <span>
                    <i class="mdi mdi-star text-warning me-n1"></i>
                    <i class="mdi mdi-star text-warning me-n1"></i>
                    <i class="mdi mdi-star text-warning me-n1"></i>
                    <i class="mdi mdi-star text-warning me-n1"></i>
                    <i class="mdi mdi-star text-warning"></i>
                  </span>
                  <span class="text-warning">4.5</span>
                  <span class="fs-6 text-muted">(9,300)</span>
                </div>
              </div>
              <!-- Card Footer -->
              <div class="card-footer">
                <div class="row align-items-center g-0">
                  <div class="col">
                    <h5 class="mb-0">$39.00</h5>
                  </div>

                  <div class="col-auto">
                    <a href="" class="text-inherit">
                      <i
                        class="fe fe-shopping-cart text-primary align-middle me-2"
                      ></i
                      >Get Enrolled
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <!-- Card -->
            <div class="card card-hover">
              <a href="" class="card-img-top"
                ><img
                  src="./assets/image/css.png"
                  alt=""
                  class="card-img-top rounded-top-md"
              /></a>
              <!-- Card Body -->
              <div class="card-body">
                <h4 class="mb-2 text-truncate-line-2">
                  <a href="" class="text-inherit"
                    >CSS: CSS course from beginner to advanced</a
                  >
                </h4>

                <small>By: Carolyn Welborn</small>
                <div class="lh-1 mt-3">
                  <span>
                    <i class="mdi mdi-star text-warning me-n1"></i>
                    <i class="mdi mdi-star text-warning me-n1"></i>
                    <i class="mdi mdi-star text-warning me-n1"></i>
                    <i class="mdi mdi-star text-warning me-n1"></i>
                    <i class="mdi mdi-star text-warning"></i>
                  </span>
                  <span class="text-warning">4.5</span>
                  <span class="fs-6 text-muted">(8,890)</span>
                </div>
              </div>
              <!-- Card Footer -->
              <div class="card-footer">
                <div class="row align-items-center g-0">
                  <div class="col">
                    <h5 class="mb-0">$30.00</h5>
                  </div>

                  <div class="col-auto">
                    <a href="#" class="text-inherit">
                      <i
                        class="fe fe-shopping-cart text-primary align-middle me-2"
                      ></i
                      >Get Enrolled
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <!-- Card -->
            <div class="card card-hover">
              <a href="" class="card-img-top"
                ><img
                  src="./assets/image/gats.png"
                  alt=""
                  class="card-img-top rounded-top-md"
              /></a>
              <!-- Card Body -->
              <div class="card-body">
                <h4 class="mb-2 text-truncate-line-2">
                  <a href="" class="text-inherit"
                    >The Gatsby Course: build web application</a
                  >
                </h4>

                <small>By: Floyd Amall</small>
                <div class="lh-1 mt-3">
                  <span>
                    <i class="mdi mdi-star text-warning me-n1"></i>
                    <i class="mdi mdi-star text-warning me-n1"></i>
                    <i class="mdi mdi-star text-warning me-n1"></i>
                    <i class="mdi mdi-star text-warning me-n1"></i>
                    <i class="mdi mdi-star text-warning"></i>
                  </span>
                  <span class="text-warning">4.5</span>
                  <span class="fs-6 text-muted">(13,245)</span>
                </div>
              </div>
              <!-- Card Footer -->
              <div class="card-footer">
                <div class="row align-items-center g-0">
                  <div class="col">
                    <h5 class="mb-0">$34.00</h5>
                  </div>
                  <div class="col-auto">
                    <a href="" class="text-inherit">
                      <i
                        class="fe fe-shopping-cart text-primary align-middle me-2"
                      ></i
                      >Get Enrolled
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
