.main-container {
  display: grid;
  grid-template-columns: 200px auto;
}

.home-main__container {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

app-side-bar {
  background-color: rgb(75, 69, 63);
}

iframe {
  width: 1000px;
  height: 1000px;
}
